.footer {
    width: 100%;
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    padding-top: 54px;
}

.container {}

.footer__box {
    width: 100%;
    display: flex;
}

.footer__link {}

.footer_img {}

.footer__item {
    padding-left: 0;
    list-style-type: none;
    margin-left: 70px;
}

.footer__list {
    width: 120px;
    margin-bottom: 14px;
}

.footer__linkk {
    text-decoration: none;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    position: relative;
    &:hover {
        color: #333333;
    }
    &:active {
        opacity: 0.6;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #FFBD54;
        transition: all 0.6s linear;
    }
    &:hover {
        &::before {
            width: 100%;
            height: 3px;
        }
    }
}

.footer__time {
    padding-left: 0;
    list-style: none;
    margin-left: 120px;
}

.footer__date {
    position: relative;
    &::before {
        content: " ";
        background-image: url(../../icons/date.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 13px;
        position: absolute;
        background-position-x: 1px;
        top: 2px;
        left: -20px;
    }
}

.footer__datetime {
    width: 120px;
    display: block;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    &:hover {
        color: #FFBD54;
    }
    &:active {
        opacity: 0.6;
        color: #333333;
    }
}

.footer_adress {
    padding-left: 0;
    list-style: none;
}

.footer_list-adres {
    max-width: 160px;
    position: relative;
    margin-left: 100px;
    &::before {
        content: " ";
        background-image: url(../../icons/house.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 13px;
        position: absolute;
        background-position-x: 1px;
        top: 2px;
        left: -20px;
    }
}

.footer__linkadres {
    text-decoration: none;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    &:hover {
        color: #FFBD54;
    }
    &:active {
        opacity: 0.6;
        color: #333333;
    }
}

.footer__itemtel {
    padding-left: 0;
    list-style: none;
    margin-left: 40px;
}

.footer__listtel {}

.footer__link-tel {
    max-width: 110px;
    display: block;
    text-decoration: none;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    position: relative;
    margin-bottom: 5px;
    &:hover {
        color: #333333;
    }
    &:active {
        opacity: 0.6;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #FFBD54;
        transition: all 0.6s linear;
    }
    &:hover {
        &::before {
            width: 100%;
            height: 3px;
        }
    }
}