.obratnaya {
    padding: 250px 0;
}

.obratnaya_box {
    width: 100%;
    height: 537px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.obratnaya__map {
    width: 30%;
}

.gm-style .place-card-large {
    padding: 9px 4px 9px 11px;
    display: none;
}

.obratnaya__form {
    padding-top: 60px;
    padding-left: 165px;
    padding-bottom: 75px;
    width: 70%;
    height: 100%;
    background-image: url(../../images/fish.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.obratnaya__title {
    font-family: Futura PT;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.obratnaya__text {
    max-width: 384px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.obratnaya__input {
    display: block;
    width: 375px;
    height: 50px;
    margin-bottom: 15px;
    outline: 0;
    &:hover {
        border: 2px solid #FFFFFF;
    }
    &:invalid {
        border: 2px solid #DC4D41;
        border-radius: 5px;
    }
    &:focus {
        border: 2px solid #FFBD54;
        border-radius: 5px;
    }
}

.obratnaya__textarea {
    max-width: 375px;
    min-width: 375px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid #FFFFFF;
    }
    &:invalid {
        border: 2px solid #DC4D41;
        border-radius: 5px;
    }
    &:focus {
        border: 2px solid #FFBD54;
        border-radius: 5px;
    }
}

.obratnaya__button {
    display: block;
    width: 225px;
    height: 50px;
    cursor: pointer;
    background: #FFBD54;
    border: 1px solid transparent;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    &:hover {
        background: #333333;
        color: #FFBD54;
    }
    &:active {
        opacity: 0.7;
    }
}